.Logo {
  background-image: url('images/ballify.gif');
  background-size: cover;
  display: inline-block;
  height: 50px;
  vertical-align: middle;
  width: 134px;
}html {
  background: white;
  font: 16px Trebuchet MS, Sans-serif;
}